<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/Firma</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <mapping class="org.entity.DepartmentsEntity"/>
        <mapping resource="org.entity/DepartmentsEntity.hbm.xml"/>
        <mapping class="org.entity.EmployeeEntity"/>
        <mapping resource="org.entity/EmployeeEntity.hbm.xml"/>
        <mapping class="org.entity.TaskEntity"/>
        <mapping resource="org.entity/TaskEntity.hbm.xml"/>
        <mapping class="org.entity.UserEntity"/>
        <mapping resource="org.entity/UserEntity.hbm.xml"/>
        <mapping class="org.entity.SuppliersEntity"/>
        <mapping resource="org.entity/SuppliersEntity.hbm.xml"/>
        <mapping class="org.entity.SupplyEntity"/>
        <mapping resource="org.entity/SupplyEntity.hbm.xml"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>